*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    
}
/* header styles */
.container{
    padding: 52px 135px;
}
.nav-container nav{
    display: flex;
    justify-content: space-around;
}
.logo-style{
    display: flex;
    align-items: center;
}
.logo-color-style{
    color: #FF5400;
}
.logo-style h1{
    margin-left: 17px;
    font-size: 36px;
    font-weight: 800;
}
.anchor-section ul{
    display: flex;
    list-style: none;
    
}
.anchor-section li a{
    margin-right: 44px;
    text-decoration: none;
    color:  #424247;
    transition: all 0.3s ease 0s;
}
.anchor-section li a:hover{
    color: #FF5400;
}
/* banner styles */

.banner-section{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-top: 49px; 
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}
.banner-section p{
    width: 676px;
    margin: 20px auto;
}
.banner-section-heading{
    padding-top: 106px;
    color: #FFF;

}
.option-section{
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    gap: 24px;
    margin: 0 200px;
    text-align: center;
    margin-top: 48px;
    display: flex;
}
.option{
    width: 174px;
    height: 52px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
    color: rgba(19, 19, 24, 0.50);
}
.button-section{
    width: 174px;
    height: 52px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
    background-color: #FF5400;
    color: #FFF;
}
/* tour section styles */
.tour-section{
    display: flex;
    margin: 0 auto;
    gap: 53px;
    margin-top: 100px;
}
.tour-section-description{
    width: 1440px;
    height: 694px;
    margin-left: 250px;

}
.tour-section-description h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.tour-section-description ul li{
    width: 577px;
    margin-bottom: 24px;

}
.tour-section-description p{
    width: 577px;
    margin-bottom: 24px;
}
.tour-section img{
    width: 540px;
    height: 550px;
    margin-right: 250px;

}
.tour-image img{
    margin-right: 400px;
}
.tour-section-btn{
    width: 174px;
    height: 52px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin-right: 24px;
    background-color: #FF5400;
    color: #FFF;
}
/* destination styles */
.destination-image{
    margin-top: 48px;
    
}
.destination-description{
    text-align: center;
}
.destination-description h1{
    font-size: 40px;
    font-weight: 800;
}
.destination-description p{
    color: rgba(19, 19, 24, 0.70);
    margin-top: 24px;
    text-align: center;
   
}
.image-one{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.image-one img{
    max-width: 573px;
    max-height: 300px;
}
.image-two{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
}
.image-two img{
    max-width: 573px;
    max-height: 300px;
}
.image-three{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 20px;
}
.image-three img{
    max-width: 673px;
    max-height: 300px;
    
}
/* address section styles */
.address-section{
    width: 573px;
    height: 284px;
}
#hotel{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
}
#map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    
}
#price-tag{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 24px;
    padding: 32px;
}
.address-section-description{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
    
}
.address-section-description h1{
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
}
.address-section-description p{
    padding-top: 16px;
}
.address-section-description-1{
    display: flex;
    justify-content: center;
}
.address-section-description-1 h1{
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
}
.address-section-description-1 p{
    padding-top: 16px;
}
.address-bar{
    margin-top: 100px;
    text-align: center;
}
.address-bar h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.address-bar p{
     display: flex;
     justify-content: center;
     margin-top: 24px;
}
/* letter section styles */
.letter-section-description{
 
    border: 1px solid #FF5400;
    border-radius: 16px;
    padding: 40px;
    width: 474px;
    height: 422px;
    
}
.letter-image{
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 672px;
    height: 422px;
   

}
.letter-image-description{
    width: 324px;
    height: 120px;
    background-color: #FF5400;
    border-radius: 16px;
    text-align: center;
    color: #FFF;
    padding: 20px;
    margin-top: 250px ;
    margin-left: 335px;
    transform: rotate(-19.628deg);
}
.letter-image-description p{
    font-size: 24px;
    font-weight: 400;
}
.letter-image-description h1{
    font-size: 32px;
    font-weight: 800;
}
.letter-input{
    display: grid;
    grid-template-rows: repeat(1fr);
    gap: 16px;
    margin-top: 24px;
}
.letter-input button{
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    max-width: 393px;
    padding: 16px 0px;
}
.letter-description{
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 100px;
}
.letter-description hr{
    max-width: 393px;
    margin-top: 24px;
}
.letter-input input{
    max-width: 393px;
    padding: 16px 0px;
    padding-left: 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.letter-section h1{
    font-size: 24px;
    font-weight: 800;
}
.letter-section p{
    margin-top: 16px;
}
/* footer styles */
.footer{
    background-color: rgba(19, 19, 24, 0.05);
    width: auto;
    height: 502px;
    margin-top: 100px;
    text-align: center;

}
.footer hr{
    max-width: 872px;
    margin: 0 auto;
}
.footer-logo-style{
    display:flex;
    justify-content: center;
    padding-top: 110px;
    gap: 16px;

}
.footer-logo-style h1{
    font-size: 32px;
    font-weight: 800;
}
.footer-paragraph{
    padding-top: 25px;
}
.social{
    padding-top: 32px;
    padding-bottom: 50px;
}
.footer .copyright{
    padding-top: 50px;
}








